// alt color 598EFF

body {
  background-color : #5080E5;
  color: white;
  font-family: Helvetica Neue;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
}

/* ----- page animations ----- */
.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}
.pt-page-moveFromRight {
	-webkit-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}

.start-page {
	margin-top: 50%;
}

/* ----- submit button ----- */

$pink: #E97E69;

@mixin round-button($baseColor:$pink, $hoverBaseColor:#333, $diameter:5vw) {
  background: $baseColor;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px darken($baseColor, 10%) inset, 0 5px 5px rgba(darken($baseColor, 40%), 0.17), 0 15px rgba(#fff, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: $diameter;
  width: $diameter;
  
  &:hover {
    background: $hoverBaseColor;
    box-shadow: 0 -2px 0 3px darken($hoverBaseColor, 10%) inset, 0 5px 5px rgba(darken($hoverBaseColor, 40%), 0.17), 0 15px rgba(#fff, 0.32) inset;
   }
}

.btn-pink {
  @include round-button($pink);
  text-align: center;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 1em;
}